@import service.UserProvider
@import java.util
@(userProvider: UserProvider, destinations: util.List[Destination])

@main(userProvider, "Admin destination", "admin_dest") {
    <h1>Destination list</h1>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                @for(destination <- destinations){
                <tr>
                    <th scope="row">@destination.getId</th>
                    <td>@destination.getName</td>
                    <td>@destination.getCity</td>
                    <td>@destination.getAddress</td>
                </tr>
            }
            </tbody>
        </table>

    </div>


}
