
@(userProvider: service.UserProvider, title: String, nav: String = "")(content: Html)
@import service.UserProvider

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.java.utils.TemplateUtils._


<!DOCTYPE html>
<html lang="@lang().code()">
    <head>
        <title>@title</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Play Authenticate - an authentication module for the Play! Framework 2.0">
        <meta name="author" content="The Play Authenticate Team">

        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Application.jsRoutes" defer="defer"></script>

        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet">
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">TO-BUS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item @("active".when(nav == ""))"><a class="nav-link" href="@routes.Application.index()">Home</a></li>
                    <li class="nav-item @("active".when(nav == "restricted"))"><a class="nav-link" href="@routes.Application.restricted()">restricted</a></li>

                    @subjectPresent() {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="@("active".when(nav == "admin_dest")) dropdown-item" href="@routes.DestinationController.list()">destinations</a>
                            </div>
                        </li>
                    }

                    @subjectPresentOr() {
                        @defining(userProvider.getUser(session())) { user =>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @user.name
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="@("active".when(nav == "profile")) dropdown-item" href="@routes.Application.profile()">profile</a>
                                    <a class="dropdown-item" href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i>logout</a>
                                </div>
                            </li>
                        }
                    } {
                        <a href="@routes.Application.login()" class=" navbar-right btn btn-default navbar-btn @("disabled".when(nav == "login"))">login</a>
                    }

                    @subjectNotPresent() {
                        <li class="nav-item @("active".when(nav == "signup"))"><a class="nav-link" href="@routes.Application.signup()">signup</a></li>
                    }

                </ul>
            </div>
        </nav>


        <div class="container">
            @if(flash.contains(Application.FLASH_ERROR_KEY)) {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                    @flash().get(Application.FLASH_ERROR_KEY)
                </div>
            }
            @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                    @flash().get(Application.FLASH_MESSAGE_KEY)
                </div>
            }
            @content

            <hr>

            <footer>
                <p>&copy;
                    2019 to-bus</p>
                <p>

            </footer>
        </div> <!-- /container -->

    </body>
</html>
