@import service.UserProvider
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userProvider: UserProvider, signupForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userProvider, Messages("playauthenticate.signup.title"),"signup") {

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h1>Sign up</h1>
    </div>
  </div>

  <div id="signup" class="row">

    <div class="col-xs-6 col-md-4">
        @* Display proprietary login form *@
    	@helper.form(routes.Application.doSignup, 'class -> "form-horizontal", 'role -> "form") {
            @helper.CSRF.formField
            @if(signupForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @signupForm.globalError.get.message
		     	</p>
            }

             @inputText(
                signupForm("name"),
                '_label -> "Name"
             )

             @_emailPartial(signupForm)

             @_passwordPartial(signupForm)

            <button type="submit" class="btn btn-info">signup.now</button>
    	}
    </div>


  </div>

}
